In [5]:
# HW 2
#(6 points) Create the function test_create_dataframe that takes as input: 
#(a) a pandas DataFrame and (b) a list of column names. 
#The function returns True if the following conditions hold:
#The DataFrame contains only the columns that you specified as the second argument.
#The values in each column have the same python type
#There are at least 10 rows in the DataFrame.

import pandas as pd
import numpy as np

In [85]:
#import DataFrame of SalesTax
url = 'https://data.mo.gov/api/views/vpge-tj3s/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)

In [86]:
df.head()

                                              County  SalesTax Location 1
0                                       Adair County   0.05600        NaN
1                                      Andrew County   0.05925        NaN
2  Andrew County          Andrew County Ambulance...   0.06425        NaN
3                                    Atchison County   0.06475        NaN
4                                     Audrain County   0.06350        NaN

In [87]:
test_column = list(df.columns.values)

col_names = ['County','Incometax','Address']

In [88]:
test_column # The colums will be used to test the function

['County', 'SalesTax', 'Location 1']

In [89]:
col_names # The input columns I specify as the second argument

['County', 'Incometax', 'Address']

In [90]:
set(test_column) & set(col_names) #Test the set() use and determine whether there is intersection priorly

{'County'}

In [91]:
def test_create_dataframe(P_dataframe,argument):
    if set(argument) == set(list(P_dataframe.columns.values)):
        print("False_Col")
    else:
        print("True_Col")
        return
    
    if len(set(P_dataframe.dtypes))>=2:
        print("False_type")
    else:
        print("True_type")
        return
    
    if len(P_dataframe) < 10:
        print("False_Row")
    else:
        print("True_Row") 
        return
    
    print('True')
    return

In [92]:
test_create_dataframe(df,col_names)

True_Col

In [93]:
# The test dataframe doesn't satisfy my function, therfore no "True" output, which is correct.
# Results shows that the function works well and satisfy my expect.