In [6]:
# HW 2
#(6 points) Create the function test_create_dataframe that takes as input: 
#(a) a pandas DataFrame and (b) a list of column names. 
#The function returns True if the following conditions hold:
#The DataFrame contains only the columns that you specified as the second argument.
#The values in each column have the same python type
#There are at least 10 rows in the DataFrame.

import pandas as pd
import numpy as np

In [51]:
url = 'https://data.mo.gov/api/views/vpge-tj3s/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)

In [52]:
df.head()

                                              County  SalesTax Location 1
0                                       Adair County   0.05600        NaN
1                                      Andrew County   0.05925        NaN
2  Andrew County          Andrew County Ambulance...   0.06425        NaN
3                                    Atchison County   0.06475        NaN
4                                     Audrain County   0.06350        NaN

In [89]:
test_column = list(df.columns.values)

col_names = ['County','Incometax','Address']

In [90]:
test_column

['County', 'SalesTax', 'Location 1']

In [91]:
col_names

['County', 'Incometax', 'Address']

In [78]:
set(sec_input) & set(test_column)

{'County'}

In [145]:
def test_create_dataframe(P_dataframe,col_names):
    for col in col_names:
        for val in list(P_dataframe.columns.values):
            if col == val:
                print("True")
            else:
                print("False")
    if len(P_dataframe) > 10:
                print("True>10")
    else:
                print("False<10")
    for typ in P_dataframe.dtypes
    return "T"

In [146]:
test_create_dataframe(df,col_names)

True
False
False
False
False
False
False
False
False
True>10

'T'

In [137]:
df.dtypes

County         object
SalesTax      float64
Location 1     object
dtype: object

In [144]:
list(col_names)

['County', 'Incometax', 'Address']